
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr><td>@Html.ActionLink("剪贴板", "Paster", "Helper")</td></tr>
    <tr><td>@Html.ActionLink("愿望清单", "WantingList", "Helper")</td></tr>
</table>

