
@{
    ViewBag.Title = "GetMovie";
}


<br/><br /><br /><br /><br /><br /><br /><br />
<h2 style="font-family:'Microsoft YaHei',Arial;">在这里，得到你想要的电影 </h2>


<h5 style="color:aquamarine;font-family:'Microsoft YaHei',Arial;">链接是百度云地址，保存到百度云之后，便可以在线观看</h5>

<a class="btn btn-primary"  href="http://pan.baidu.com/s/1bo8kM31">获取大鱼·海棠</a>