
@{
    ViewBag.Title = "Index";
}

<br><br><br><br><br><br><br><br>
<table class="table">
    @*<tr><td>@Html.ActionLink("电影 ", "GetMovie", "Tools")</td></tr>
    <tr><td>@Html.ActionLink("主页", "Index", "Tools")</td></tr>
    <tr><td>@Html.ActionLink("整人神器", "SQ", "Tools")</td></tr>
    <tr><td>@Html.ActionLink("观察记录", "Watch", "Tools")</td></tr>*@
    <tr><td></td></tr>
</table>
<h2>Index</h2>

