@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   QQ<br />
   2489806491<br />
    <abbr title="邮箱">邮箱:</abbr>
    weicheng0309@sina.com
</address>

<address>
   
</address>