@section Scripts{


    <script src="~/Scripts/index.js"></script>
}
<div id="back">
    <div id="cont">

        <p>刘维承的个人网站</p>
        <br />
        <p>Via@不朽的代码诗</p>
        <p>&copy;@DateTime.Now.Year</p>
    </div>
</div>
<div id="renderbody">

</div>
<script>
    $("#renderbody").load("../home/index?id=1");
</script>